[Unit]
Description=rbtv ignite agents

[Service]
Type=simple
ExecStart=node @DEPLOY@/ignite/agents/tool/daemon.js --workspace @WORKSPACE@
EnvironmentFile=@ENV_FILE@
Restart=on-failure
KillMode=process
TimeoutStopSec=90

[Install]
WantedBy=default.target
